%h2= @garment
%p
  %strong Type
  = @garment.garment_type
%p
  %strong Price
  = number_to_currency(@garment.price)
%p
  - if @garment.sold?
    Sold #{render_datetime(@garment.sold_at)} ago.
  - else
    Not sold yet.
