= form_for(@garment_type, :builder => BootstrapFormBuilder, :html => { :class => 'form-horizontal' }) do |f|
  = render 'shared/error_messages', :target => @garment_type
  = f.bootstrap_field :text_field, :name, :with_label => true
  .form-actions
    = f.submit t(:submit), :class => "btn"
