%h2= t('garment_types.name').pluralize
%p= link_to t('garment_types.new'), new_garment_type_path
- @garment_types.in_groups_of(4, false).each do |group|
  .row
    - group.each do |gt|
      .span3.cards
        %p= link_to gt.name, gt
