@import 'mixins';

.translation_missing {
    background: #cc3343;
    @include border(2px)
}

time {
    background: #9dd1e0;
    @include border(2px)
}

.clear {
    clear: both;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
