@import 'mixins';
@import 'bootstrap/variables';

header h1 {
    margin: 15px 0px 10px 15px;
}

section#main {
    margin-top: 15px;
}

.cards {
    display: block;
    background: $grayLighter;
    @include border(3px);
    margin-bottom: 5px;
    text-align: center;
}
