%nav
  %ul.nav.nav-tabs
    = render_nav_element Garment.model_name.human.pluralize, garments_path, 'garments'
    = render_nav_element GarmentType.model_name.human.pluralize, garment_types_path, 'garment_types'
    = render_nav_element 'Test link', '#'
    = render_nav_element 'Another one', '#'
.clear
